.u-section-1 {
  background-image: linear-gradient(130deg, #478ac9, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 418px;
}

.u-section-1 .u-text-1 {
  margin: 65px 78px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  background-image: linear-gradient(130deg, #f5d654, #478ac9);
  font-weight: normal;
  margin: 60px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-text-2 {
  margin: 88px 78px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}